spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origins: "*"
            allowed-methods:
              - GET
              - POST
              - PUT
              - DELETE
            allowed-headers: "*"

server:
  port: 8080

jwt:
  secret: MySecretKeyForDEStoreApplicationMustBe256BitsOrLongerForHS256Algorithm
  expiration: 3600000

logging:
  level:
    com.destore: DEBUG
    org.springframework.cloud.gateway: DEBUG
